.flex3  {
    background-color: lightgray;
   display: flex;
   flex-direction: row;
   padding: 20px;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 
 #a{
   color: red;
   text-align: center;
 
 }
 #b{
   
   text-align: center;
   border: solid;
   border-color: lightgrey;
   border-width: 1px;;
   padding-top:50px;
   padding-bottom: 50px;
 margin: 0 auto;
 width : 55.55%;
 }
 
 .box {
   display: flex;
   flex-direction: row;
   padding: 20px;
   align-items: center;
   width: 100%;
 }
 
 .f {
 
   background-color: lightgray;
   display: flex;
   flex-direction: row;
   margin: 20px auto;
   padding: 20px;
   align-items: center;
   text-align: center;
   width: 100%;
 }
 #r {
   color: maroon;
   text-align: center;
 }
 .table{
   margin: 0 auto;
 }
 .button{
   margin: 0 auto;
   padding: 0;
 }